*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.container{
    height:100vh;
    width:100vw;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    display:flex;
    justify-content: center;
    align-items: center;
}
.card{
    height:400px;
    width:300px;
    background-color: white;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    
}
.card img{
    height:25%;
    width:100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card h3{
    font-weight: bold;
    width:80%;
    text-align: center;
}
.card button{
    width:80%;
    height:40px;
    border-radius: 8px;
    background-color: rgb(5, 5, 12);
    color: white;
    box-shadow: 0 5px 10px black;
}
.card p{
    width:80%;
    font-size: 0.7rem;
}
.charge{
    background-color: rgb(212, 199, 199);
    width:80%;
    height:45px;
    border-radius: 8px;
}
#cancel{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.charge{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    
}
.annual{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:50%;
}
.annual img{
    height:32px;
    width:32px;
}
.para{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height:30px;
}
.para p{
    font-size: 0.5rem;
    width:100%;
}
.charge a{
    font-size: 0.8rem;
}