*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.container{
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #111cb5 100%);
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftbox{
    height:400px;
    width:400px;
    background-color: purple;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    
    padding:20px;
}
.container img{
    height:400px;
    width:400px;
}
.leftbox h1 {
    text-align: center;
    font-weight: bold;
}
.leftbox p{
    text-align: center;
}
.spec{
    display:flex;
    justify-content: space-between;
    padding:10px;
}
@media (max-width:650px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:300px){
    .spec{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}